* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Gowun Batang', serif;
  background-color: #f4f4f4;
}

/* 1. 전체 페이지 레이아웃을 Flexbox Column으로 설정합니다. */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 2. 메인 콘텐츠 영역 (Header와 Footer 사이의 공간을 차지) */
.main-content {
  flex-grow: 1;

  padding: 20px 0;

  display: flex;
  flex-direction: column;
}

/* 3. 콘텐츠를 감싸는 Wrapper 클래스 */
.content-wrapper {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}


/* 4. 푸터 기본 스타일 */
footer {
  padding: 15px 0;
  text-align: center;
  font-size: 0.9em;
  color: #666;
  background-color: #333;
  color: white;
}